.input-button-show-password{
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.input-button-show-password:hover{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}